<% content_for :head do %>
    <style>
            /* .header {
                display: none;
            } */
    </style>
<% end %>

<body id="side-bar">
<div >
    <aside id="side-bar-left">
        <div id="side-bar-left-menu">
            <ul>
                <li class="collection"><a href="#">COLLECTION</a>
                    <ul class="collection-list">
                            <li class="collection-list-block"><a href="#" class="collection-list-block-tag">2019 10</a></li>
                            <li class="collection-list-block"><a href="#" class="collection-list-block-tag">2019 9</a></li>
                            <li class="collection-list-block"><a href="#" class="collection-list-block-tag">2019 8</a></li>
                            <li class="collection-list-block"><a href="#" class="collection-list-block-tag">2019 7</a></li>
                            <li class="collection-list-block"><a href="#" class="collection-list-block-tag">2019 6</a></li>
                    </ul>
                </li>
                <li class="_block"><a href="#" class="nav_collection">THE STORY</a>
                    <ul class="collection-submenu"></ul>
                </li>
                <li class="_block"><a href="#" class="nav_collection">SHOP</a>
                    <ul class="collection-submenu"></ul>
                </li>
                <li class="_block"><a href="#" class="nav_collection">CONTACT</a>
                    <ul class="collection-submenu"></ul>
                </li>
                <li class="_block">
                    <button class="sp-mode" style="display:none;">スマートフォン用で表示</button>
                </li>
            </ul>
        </div>
    </aside>
</div>

<div class="main"><p> frame2</p><p> 
    main
    <div id="main_img">
        <img src="/assets/sample.jpg">
    </div>
    <div class="box1">
        <div class="list-group">
            <table>
                <thead>
                    <tr>
                        <div style="color: #000; font-size: 30px;">
                        <%# <%= @date + 'のイベント'%> 
                        </div>
                        <br>
                    </tr>
                </thead>
                <tbody>
                    <% picture_new = @pictures%> 

                    <% picture_new.first(3).each do |picture| %>
                    <div style="display: block; padding-top: 50px;"> 
                        <%= "title : " + picture.title %>
                        <br>
                        <%= "description : " + picture.description %>
                    </div>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<aside id="side-bar-right">
        <p>frame3</p>
</aside>
<script>
    (function($) {
        $(function () {
            $('.collection > a').on('click', function (e) {
                e.preventDefault();
                var $subNav = $(this).next('.collection-list');
                if ($subNav.css("display") === "block") {
                    $(this).addClass('is-active');
                    $subNav.velocity('slideUp', {duration: 400});
                } else {
                    $(this).removeClass('is-active');
                    $subNav.velocity('slideDown', {duration: 400});
                }
            });
        });
    })(jQuery);
</script>

<header class="header">
    <nav class="global-nav">
        <ul class="global-nav__list">
            <!--front--> 
            <label for="menuOn">
                <li class="global-nav__item"><a class="nav_collection"　for="toggle1">COLLECTION</a>
                    <input id="menuOn" type="checkbox">
                    <!--back-->
                    <menu>
                    <ul id ="collection-list" class="collection-list">
                        <li class="collection-list-block"><a href="#" class="collection-list-block-tag">2019 10</a></li>
                        <li class="collection-list-block"><a href="#" class="collection-list-block-tag">2019 9</a></li>
                        <li class="collection-list-block"><a href="#" class="collection-list-block-tag">2019 8</a></li>
                        <li class="collection-list-block"><a href="#" class="collection-list-block-tag">2019 7</a></li>
                        <li class="collection-list-block"><a href="#" class="collection-list-block-tag">2019 6</a></li>
                    </ul>
                    </menu>
                    <ul class="overlay"></ul>
                </li>
            </label>
                <li class="global-nav__item"><a href="#" class="nav_collection">THE STORY</a>
                    <ul class="collection-submenu"></ul>
                </li>
                <li class="global-nav__item"><a href="#" class="nav_collection">SHOP</a>
                    <ul class="collection-submenu"></ul>
                </li>
                <li class="global-nav__item"><a href="#" class="nav_collection">CONTACT</a>
                    <ul class="collection-submenu"></ul>
                </li>
                <li class="global-nav__item">
                    <button class="pc-mode" style="display:none;">PC用で表示</button>
                </li>
        </ul>
    </nav>
    <div class="hamburger" id="js-hamburger">
        <span class="hamburger__line hamburger__line--1"></span>
        <span class="hamburger__line hamburger__line--2"></span>
        <span class="hamburger__line hamburger__line--3"></span>
    </div>
    <div class="black-bg" id="js-black-bg"></div>
</header>

<script>
    function toggleNav() {
    var body = document.body;
    var hamburger = document.getElementById('js-hamburger');
    var blackBg = document.getElementById('js-black-bg');

    hamburger.addEventListener('click', function() {
        body.classList.toggle('nav-open');
    });
    blackBg.addEventListener('click', function() {
        body.classList.remove('nav-open');
    });
    }
    toggleNav();
</script>


</body>