<footer class="footer">
  <table>
      <td style="height: 50px; vertical-align: top; text-align: left;">
          <tr colspan="3" class="tbdtl1" style="border: none;">
          <p>footer</p>
          </tr>
      </td>
  </table>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>